global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'nomad-servers'
    static_configs:
      - targets:
          - 'server-vm-0.orb.local:4646'
          - 'server-vm-1.orb.local:4646'
          - 'server-vm-2.orb.local:4646'
    metrics_path: '/v1/metrics'
    params:
      format: ['prometheus']

  - job_name: 'nomad-clients'
    static_configs:
      - targets:
          - 'client-vm-0.orb.local:4646'
          - 'client-vm-1.orb.local:4646'
          - 'client-vm-2.orb.local:4646'
    metrics_path: '/v1/metrics'
    params:
      format: ['prometheus']
