nomad {
  address = "{{ nomad_server_address }}"
}

apm "prometheus" {
  driver = "prometheus"
  config = {
    address = "{{ prometheus_apm_address }}"
  }
}

strategy "target-value" {
  driver = "target-value"
}

strategy "threshold" {
  driver = "threshold"
}

strategy "fixed-value" {
  driver = "fixed-value"
}
