nomad {
  address = "{{ nomad_server_address }}"
}

apm "datadog" {
  driver = "datadog"
  config = {
    dd_api_key = "{{ datadog_api_key_effective }}"
    dd_app_key = "{{ datadog_app_key_effective }}"
    dd_api_rate_per_second = "{{ datadog_api_rate_per_second }}"
    site = "{{ datadog_site }}"
  }
}

strategy "target-value" {
  driver = "target-value"
}

strategy "threshold" {
  driver = "threshold"
}
