nomad {
  address = "{{ nomad_server_address }}"
  namespace = [{% for ns in nomad_autoscaler_namespaces %}"{{ ns }}"{% if not loop.last %}, {% endif %}{% endfor %}]
}

apm "influxdb" {
  driver = "influxdb"
  config = {
    address  = "{{ influxdb_apm_address }}"
    database = "{{ influxdb_apm_database }}"
    username = "{{ influxdb_autoscaler_user }}"
    password = "{{ influxdb_autoscaler_password }}"
  }
}

strategy "target-value" {
  driver = "target-value"
}
