data_dir = "/opt/nomad/data"

log_level = "INFO"

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
  prometheus_metrics         = true
}

server {
  enabled = true
  bootstrap_expect = 3

  server_join {
    retry_join = ["server-vm-0.orb.local:4648", "server-vm-1.orb.local:4648", "server-vm-2.orb.local:4648"]
    retry_max = 30
    retry_interval = "5s"
  }
}

bind_addr = "0.0.0.0"

advertise {
  http = "{{ '{{ GetPrivateIP }}' }}"
  rpc  = "{{ '{{ GetPrivateIP }}' }}"
  serf = "{{ '{{ GetPrivateIP }}' }}"
}

consul {
  address = "127.0.0.1:8500"
  auth    = ""
  auto_advertise = true
  server_auto_join = true
  client_auto_join = true
}

